@page {
    /*  size: 21cm 29.7cm; */
    margin: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    text-transform: uppercase;
}

li b{
    text-transform: none;
}

.page-break {
    page-break-after: always;
}

.header {
    display: flex;
    background-color: #ffffff;
    margin-bottom: -60px;
    line-height: 1.0;
}

.header-right {
    float: right;
    /*  margin-top: -15px; */
}

.fecha{
    text-align: right;
    font-size: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.titulo h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.titulo-boleta h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    width: 64%;
    margin-top: -6px;
    margin-left: 18%;
    font-weight: normal;
}

.logo {
    width: 17%;
}

.logo img {
    width: 100%;
}

.datos-boleta {
    width: 100%;
    display: flex;
}

.datos-boleta ol {
    list-style: none;
    font-size: 10px;
    padding-left: 0;
}

.datos-div-izq {
    width: 60%;
}

.datos-div-izq-redi{
    width: 40%;
}

.datos-div-der {
    width: 40%;
    float: right;
}

.datos-div-der-redi{
    width: 65%;
    float: right;
}

.datos-der {
    text-align: right;
}

.texto-izq{
    text-align: left;
}

.numero{
    width: 3%;
}

.alumno{
    width: 23%;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2%;
}

.alumno-reporte{
    text-transform: uppercase;
    width: 40%;
    text-align: left;
    padding-left: 2%;
}

.matricula-reporte{
    width: 13%;
}

.matricula{
    width: 11%;
}

.nombre{
    padding-left: 11px;
}

.genero{
    width: 10%;
}

.nombre-plantel{
    width: 23%;
}

.mayus{
    font-size: 10px;
    text-transform: uppercase;
}

.menos-top{
    margin-top: 0;
}

.container{
    overflow: hidden;
    display: inline-table;
}

.rojo{
    color: #C91E15;
    font-weight: bold;
}

.fuente-10{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 30ch;
}

.firma{
    text-align: center;
    line-height: 1.0;
    font-size: 10px;
    width: 50%;
}

.firma-izq{
    float: left;
}

.firma-der{
    float:right;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tabla-califi tr:nth-child(even) {
    background-color: rgb(242, 239, 239);
}

.tabla-califi th {
    background-color: #ffffff;
    text-align: center;
    color: black;
}
