body{
    font-family: "Encode Sans", "Kanit", sans-serif;
    font-size: 12px;
    color: #5B5B69;
}

p{
    line-height: 0.5;
}

.div-principal{
    width: 45%;
    border: black solid 1px;
    margin-right: 4%;
    margin-bottom: 5px;
    height: 48%;
    float: left;
    display: inline-block;
    page-break-inside: avoid;
}
